*{
  margin: 0;
  padding: 0;
}
.body_bgcolor_grain{
  background-color: #d7cec7;
}
.body_font_dosis{
  font-family: 'Dosis', sans-serif;
}
.header{
  position: relative;
}
.header__lead{
  text-align: center;
  font-weight: 700;
}
.header__lead_text-color_oxblood{
  color: #76323f;
}
.header__intro{
  text-align: right;
  padding-right: 35%;
  font-weight: 700;
  border-bottom: 1px solid black;
}
@keyframes slideFirst{
  from{
    transform: translateX(0) skew(50deg, 50deg);
  }
  to{
    transform: translateX(6700%) skew(50deg, 50deg);
  }
}
@keyframes slideSecond{
  from{
    transform: translateX(0) skew(-50deg, -50deg);
  }
  to{
    transform: translateX(6700%) skew(-50deg, -50deg);
  }
}
.header__star-part-one{
  background-color: white;
  width: 1%;
  height: 3%;
  position: absolute;
  top: 97%;
  animation: slideFirst 4s;
  animation-fill-mode: forwards;
}
.header__star-part-two{
  background-color: white;
  width: 1%;
  height: 3%;
  position: absolute;
  top: 97%;
  animation: slideSecond 4s;
  animation-fill-mode: forwards;
}

.section{
  margin: 2% auto 0;
}
.section_layout_float{
  overflow: auto;
}
.block_color_main{
  background-color: #c09f80;
}
.block_color_contrast{
  background-color: #565656;
}
.block{
  width: 33%;
  margin: 0 0.25%;
}
.block_type_float{
  float: left;
}

.block_type_inline-block{
  display: inline-block;
}

.section_layout_position{
  position: relative;
  margin-bottom: 13%;
}
.block_type_position{
  position: absolute;
}
.block_type_position:nth-of-type(3n+1){
  left: 0;
}
.block_type_position:nth-of-type(3n+2){
  left: 33.25%;
}
.block_type_position:nth-of-type(3n+3){
  right: 0;
}

.table{
  border-spacing: 0.2rem;
}

.flex{
  display: flex;
}

.block_type_container{
  width: 100%;
  margin: 0;
  padding: 3% 0;
}
.block_type_content{
  margin: 0 auto;
}
.block__speech{
  font-weight: 700;
  display: inline-block;
  margin-right: 20%;
}
.block_type_transition{
  width: 15%;
  margin: 5% auto;
  color:#996666;
  padding: 3%;
  transition: transform 1.5s, color 1.5s;
}
.block_simulate_growth:hover{
  transform: scale(2);
  color: #ff6666;
}
.block_simulate_growth:hover::after{
  content: "Ohh..";
}
.block_simulate_movement:hover{
  transform: translate(15%, 15%);
  color: #ff6666;
}
.block_simulate_movement:hover::after{
  content: "Yes!";
}
.block_simulate_rotation:hover{
  transform: rotate3d(1, 0, 0, 760deg);
  color: #ff6666;
}
.block_simulate_rotation:hover::after{
  content: "More, please!"
}
/*Remove side margins of the center block to evenly distribute the remaining space between three blocks*/
.block_marginless{
  margin: 0;
}
